@page "/areas"
@inject IRepository repository

<h3>Areas</h3>

<table>
    <thead>
        <tr>
            <td>Areas</td>
            <th></th>
        </tr>
    </thead>
    <tbody>
@*         @foreach (var area in Areas!)
        {
            <tr>
                <th>area</th>
            </tr>
        }
 *@    </tbody>
</table>
@code {
    // public List<Area?> Areas { get; set; }
}
